In [1]:
import pandas as pd
import cv2

In [2]:
img_path='colorpic.jpg'

In [3]:
df=pd.read_csv('colors.csv')

In [4]:
df.head()

     air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
0   air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
1  air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
2       alabama_crimson        Alabama Crimson  #a32638  163   38   56
3            alice_blue             Alice Blue  #f0f8ff  240  248  255
4      alizarin_crimson       Alizarin Crimson  #e32636  227   38   54

In [5]:
index=['color','color_name','Hex','R','G','B']

In [6]:
df=pd.read_csv('colors.csv',names=index, header=None)

In [7]:
df.head()

                  color             color_name      Hex    R    G    B
0    air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
1   air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
2  air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
3       alabama_crimson        Alabama Crimson  #a32638  163   38   56
4            alice_blue             Alice Blue  #f0f8ff  240  248  255

In [8]:
img=cv2.imread(img_path)
img=cv2.resize(img,(800,600))

In [9]:
clicked=False
r=g=b=xpos=ypos=0

In [10]:
def get_color_name(R,G,B):
     minimum=1000
     for i in range(len(df)):
        d=abs(R-int(df.loc[i,'R']))+abs(G-int(df.loc[i,'G']))+abs(B-int(df.loc[i,'B']))
        if d<=minimum:
            minimum=d
            cname=df.loc[i,'color_name']
     return cname

In [11]:
def draw_function(event,x,y,flags,params):
    if event == cv2.EVENT_LBUTTONDBLCLK:
        global clicked,r,g,b,xpos,ypos
        clicked=True
        xpos=x
        ypos=y
        b,g,r=img[y,x]
        b=int(b)
        g=int(g)
        r=int(r)

In [ ]:
cv2.namedWindow('image')
cv2.setMouseCallback('image',draw_function)
while True:
    cv2.imshow('image',img)
    if clicked:
        cv2.rectangle(img,(20,20),(600,60),(b,g,r),-1)
        text=get_color_name(r,g,b)+'R='+str(r)+'G='+str(g)+'B='+str(b)
        cv2.putText(img,text,(50,50),2,0.8,(255,255,255),2,cv2.LINE_AA)
        if r+g+b>=600:
            cv2.putText(img,text,(50,50),2,0.8,(0,0,0),2,cv2.LINE_AA)
    if cv2.waitKey(20)& 0xFF==27:
         break
            

cv2.destroyAllWindows()